In [2]:
import numpy as np
import pandas as pd

In [3]:
df= pd.read_csv('test_scores.csv')
df

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83
5   aamir    49  52
6  venkat    65  66
7   virat    35  30
8  arthur    66  68
9    paul    67  73

In [5]:
def gradient_descent(x,y):
    m_curr = b_curr= 0
    iterations =10
    n= len(x)
    learning_rate = 0.01
    
    for i in range(iterations):
        y_predicted = m_curr * x + b_curr
        cost = (1/n) * sum([val**2 for val in (y-y_predicted)])
        md = -(2/n) * sum(x*(y-y_predicted))
        bd = -(2/n) * sum(y-y_predicted)
        m_curr = m_curr - learning_rate * md
        b_curr = b_curr - learning_rate * bd
        print("m {}, b{}, cost:{} iteration {}".format(m_curr, b_curr, cost, i))

        
x = np.array([1,2,3,4,5])
y= np.array([5,7,9,11,13])

gradient_descent(x,y)

m 0.62, b0.18, cost:89.0 iteration 0
m 1.0928, b0.3192, cost:52.25039999999999 iteration 1
m 1.453232, b0.42724799999999996, cost:30.831949440000002 iteration 2
m 1.7278860800000002, b0.5115091199999999, cost:18.347751350784 iteration 3
m 1.9370605952000002, b0.5776057727999999, cost:11.070010749324897 iteration 4
m 2.096250917888, b0.6298300216319999, cost:6.826353152519786 iteration 5
m 2.2172859146547204, b0.6714583661260799, cost:4.350826141683065 iteration 6
m 2.309195511463117, b0.7049920439242751, cost:2.9056952040975976 iteration 7
m 2.3788729763057748, b0.7323404723580026, cost:2.0610450731046615 iteration 8
m 2.431580493177024, b0.7549612843324961, cost:1.5663423003130599 iteration 9